<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/projetadd" method ="POST" enctype="multipart/form-data">
    <label for="name">nom du projet</label>
    <input type="text" id = "name" name = "name">
    <label for="description"> descriptif du projet</label>
    <input type="text" id = "description" name = "description" > 
    <label for="liengithub">lien github</label>
    <input type="url" id = "liengithub" name = "liengithub">
    <label for="lien ">lien</label>
    <input type="url" id = "lien" name = "lien">
    <input type="file" id= "image" name= "image">
    <button type ="submit">VALIDER</button>

    
    
     </form>
</body>
</html>